.app__laurels_awards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.app__laurels_awards-card {
  width: 100%;
  display: flex;
  flex: 1;
}
.app__laurels_awards-card img {
  width: 70px;
  height: 70px;
}

.app__laurels_awards-card_content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}

.app__laurels_awards-card_content-subtitle {
  font-family: var(--font-alt);
  color: var(--color-grey);
  max-width: 250px;
}

.app__laurel_section-logo {
  position: relative;
  right: 3rem;
  width: fit-content;
  top: 0;
  align-self: flex-start;
  margin-bottom: 3rem;
}

.app__laurel_section-logo img {
  width: 100px;
}

.app__wrapper_info {
  flex: 1.2 !important;
}

@media screen and (min-width: 2000px) {
  .app__laurels_awards-card img {
    width: 85px;
    height: 85px;
  }
  .app__laurel_section-logo img {
    width: 120px;
  }
}

@media screen and (max-width: 1150px) {
  .app__laurel_section-logo {
    right: 0rem;
  }
}

@media screen and (max-width: 850px) {
  .app__laurels_awards-card img {
    width: 65px;
    height: 65px;
  }

  .app__laurel_section-logo img {
    width: 80px;
  }
}

@media screen and (max-width: 650px) {
  .app__laurels_awards {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .app__laurels_awards-card img {
    width: 55px;
    height: 55px;
  }
  .app__laurel_section-logo {
    margin-bottom: 2rem;
  }
  .app__laurel_section-logo img {
    width: 70px;
  }
}

@media screen and (max-width: 450px) {
  .app__laurels_awards-card img {
    width: 45px;
    height: 45px;
  }
}
