/* .app__newsletter {

  position: absolute;
}

.app__newsletter-inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app__newsletter-inputSection input {
  width: 75%;
} */

.app__newsletter {
  position: relative;
  z-index: 11;
  top: -6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 500px; */
  margin: 0 6rem;

  padding: 4rem 8rem;

  background: var(--color-black);
  box-shadow: 0px 0px 10px var(--color-golden);
}
.app__newsletter-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;

  gap: 0.5rem;
  width: 100%;
}

.newsletter__headtext {
  font-size: 56px;
  color: var(--color-golden);
  font-family: var(--font-base);
}

.app__newsletter-inputSection {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 2rem;
  width: 100%;
}

.app__newsletter-inputSection input {
  width: 100%;
  height: auto;
  margin-right: 2rem;
  border: 1px solid var(--color-golden);
  background-color: transparent;

  padding-left: 2rem;
}

@media screen and (min-width: 2000px) {
  .newsletter__headtext {
    font-size: 100px;
  }
}

@media screen and (max-width: 1150px) {
  .app__newsletter {
    padding: 3rem 6rem;
    /* margin: 0rem 1rem; */
  }
}

@media screen and (max-width: 850px) {
  .newsletter__headtext {
    font-size: 38px;
  }
  .app__newsletter {
    margin: 0 4rem;
    padding: 3rem 5rem;
  }
  .app__newsletter-inputSection {
    flex-direction: column;
    gap: 1rem;
  }
  .app__newsletter-inputSection input {
    height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .newsletter__headtext {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .newsletter__headtext {
    font-size: 32px;
  }
  .app__newsletter {
    margin: 0 2rem;
    padding: 3rem 2rem;
  }
}
